body{
    /* premiere font utilisé à partir de googlefont: border-left-style:'Playfair Display', serif;*/
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin:auto;
    line-height: 30px;
    /* color:rgb(57, 54, 90);*/
   padding: 30px;
   background-image:linear-gradient(to right, #FC8B2A,#96CCD7);
   /*background-image: url("https://i.pinimg.com/originals/5e/57/75/5e57751a32bf2ef4c632938224af85a7.jpg");
   background-repeat: no-repeat;
   background-position: bottom right;
   background-size:cover; */
}
header{
    background-image: url("https://i.pinimg.com/originals/5e/57/75/5e57751a32bf2ef4c632938224af85a7.jpg");
}
table{
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: left;
    background-color: rgba(209, 219, 228, 0.527);
    color: rgb(0, 0, 0);
    /* margin: auto;*/
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
h1{
      /* background-color:  rgb(168, 196, 194);
      padding: 22px;
      text-align: center;*/
      font-size: 48px;
      line-height: 50px;
      font-family: 'Playfair Display', serif;
      text-transform: capitalize;
      text-align: center;
    }
img{
    /*width: 100%;*/
    float: right;
    width: 300px;
    margin: 30px;    
    }
 h2{
        /* color: rgb(168, 196, 194);*/
        font-size: 21px;
        text-align: center;
        font-family: 'Playfair Display', serif;
    }
p{
        color: rgb(40, 45, 59);
        font-size: 14px;
    }
a:visited{
   color: rgb(37, 145, 196);  
 }

a:hover{
 text-decoration:underline;
 color: rgb(216, 34, 110);
} 
p::first-letter { 
    font-size: 150%;
    color: rgb(68, 57, 78);
  }
blockquote{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    font-size:160%;
    background-color: rgba(209, 219, 228, 0.527);
    border-left: 3px rgb(255, 94, 0) solid;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    font-style: italic;

  }
.villageois{
    border-left: 3px green solid;
}
/* .color{
    background-color: yellow;
} */
header span{
    background-color: #FC8B2A;
}
em, span, strong{
   text-transform: capitalize; 
}
.bien{
 color: green;
}
.mal{
 color: red;
}
tr:nth-child(odd)/* ou (even)si je veux que ça commence de la deuxieme rangée*/ {
    background-color: #ffffff;
}
table{
    border-style: 3px;
    border-radius: 15px;
    margin: auto;
}
 li:first-child{
    background-image: url('https://github.com/becodeorg/BXL-Johnson-3.9/raw/master/Projets/progressive-enhancement/bien.png');
    background-repeat: no-repeat;
    padding-right: 10px;
    display: block;
    padding-left: 60px;
}
/* #pousseoui{
    background-image: url('https://github.com/becodeorg/BXL-Johnson-3.9/raw/master/Projets/progressive-enhancement/bien.png') no-repeat right;
    padding-right: 20px;
}*/
li:nth-child(2){
  background-image: url('https://github.com/becodeorg/BXL-Johnson-3.9/raw/master/Projets/progressive-enhancement/mal.png');
background-repeat: no-repeat;
display: block;
padding-left: 60px;
}
li:nth-child(3){
    background-image: url('https://github.com/becodeorg/BXL-Johnson-3.9/raw/master/Projets/progressive-enhancement/chat.png');
    background-repeat: no-repeat;
    display: block;
    padding-left: 60px;
}
li:nth-child(4){
    display: block;
    padding-left: 60px;
}
ol{
    line-height: 50px;

}
.notification{
    background:rgb(169, 183, 189);
    padding:.5rem 1rem;
    border:3px solid #DDDDCC;
    width:150px;
    font-weight:bold;
    color: #333300;
    /* rajoute le code nécessaire ici*/
    position: absolute;
    top: 20px;
    right: 15px;


  }
  /* finire mise en forme #conclusion{
      border:12px #FC8B2A;
  }*/
hr{
    border: 1px solid rgb(169, 183, 189);

}
